{% extends 'base.html.twig' %}

{% block title %}Editeur index{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="mb-4">Editeur index</h1>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for editeur in editeurs %}
                <tr>
                    <td>{{ editeur.id }}</td>
                    <td>{{ editeur.adresse }}</td>
                    <td>{{ editeur.cp }}</td>
                    <td>{{ editeur.ville }}</td>
                    <td>{{ editeur.tel|formatPhone }}</td>
                    <td>
                        <a href="{{ path('app_editeur_show', {'id': editeur.id}) }}" class="btn btn-info btn-sm mr-2">En savoir plus</a>
                        <a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('app_editeur_new') }}">
            <i class="bi bi-plus-circle"></i> Créer un nouvel éditeur
        </a>
    </div>
{% endblock %}

